<div class="columns">
  <aside class="column sidebar is-narrow">
    <section class="section">
      <nav class="menu">
        <ul class="menu-list">
          ${Menu}
          <template id="MenuItem">
            <li><a class="${Active}" href="${Url}">${Text}</a></li>
          </template>
        </ul>
      </nav>
    </section>
  </aside>
  <div class="column">
    <section class="section">
      ${Body}

      <div id="notification-area">
        <div>${Error}</div>
      </div>

      <template id="Signal">
        <div>
          <p>
            <div class="tags has-addons">
              <span class="tag is-large">Kraken Bitcoin Price</span>
              <span class="tag is-info is-large">${KrakenBitcoinPrice}</span>
            </div>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Google Smoothed Line Chart</th>
                </tr>
              </thead>
              <tbody>
                <div id="xplot">
                  ${SmoothedLineChart}
                </div>
              </tbody>
            </table>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Plotly Line Chart</th>
                </tr>
              </thead>
              <tbody>
                <div id="xplotScatter">
                  ${LineChart}
                </div>
              </tbody>
            </table>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>SharpVG SVG Scatter Plot</th>
                </tr>
              </thead>
              <tbody>
                ${SVGScatterPlot}
              </tbody>
            </table>
          </p>
        </div>
      </template>

      <template id="ErrorNotification">
        <div class="notification is-warning">
          <button class="delete ${HideClass}" onclick="${Hide}"></button>
          ${Text}
        </div>
      </template>

    </section>
  </div>
</div>
